---
import '@/styles/app.scss';
import Classes from './BaseLayout.module.scss';
import Head from "@/components/layout/Head.astro";
import SideBar from "@/components/side-bar/SideBar.astro";
import Header from "@/components/header/Header.astro";
import Footer from "@/components/footer/Footer.astro";

type Props = {
  title?: string;
};

const { title = "Fleet Management" } = Astro.props;
---

<html lang="en">
  <Head {title} />
  <body class={Classes.application}>
    <SideBar class={Classes.sidebar} />
    <Header class={Classes.header}/>
    <main class={Classes.content}>
      <slot />
    </main>
    <Footer class={Classes.footer}/>
  </body>
</html>
